* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


header {
  display: flex;
  background-color: #30333C;
  padding: 20px;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 80px;
}

.lefttitle, .navright {
  height: 60px;
  display: flex;
  align-items: center;
  
}

.navright{
  width: 400px;
  justify-content: space-around;
}

.lefttitle {
background-color: #89C0C2;
padding: 20px;
width: 300px;
justify-content: flex-end;
}

h1 {
  color: #30333C;
}

a {
  padding: 5px;
  text-decoration: none;
  margin: 5px;
  padding-bottom: 0;
  font-size: 20px;
}

.navright a {
color: #89C0C2;
border-bottom: solid 4px #89C0C2;
}

a:hover {
  color: #89C0C2;
  background-color: rgba(63, 81, 104, 0.5);
}

.heroimage {
  height: 170px;
  width: 100%;
  margin-bottom: 25px;
  background-image: linear-gradient(rgba(68, 88, 119, 0.5), rgba(61, 113, 192, 0.5)), url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  /* position: relative; */
}

.subtitle {
  position: relative;
  width: 340px;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: #30333C;
  background-color: #89C0C2;
  padding: 0 10px 0 10px;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 50% 10%;
  grid-template-areas: 
  "about"
  "work"
  "contact";
  padding-left: 40px;
}

#about {
  grid-area: about;
}

#work {
  grid-area: work;
}

#contact {
  grid-area: contact;
}

#about {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: 
  "aboutmeside aboutmetext";
  padding-left: 40px;
}

#aboutmeside {
  grid-area: aboutmeside;
}

#aboutmetext {
  grid-area: aboutmetext;
}

#work {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: 
  "workside worklinks";
  padding-left: 40px;
}

#workside {
  grid-area: workside;
}

#worklinks {
  grid-area: worklinks;
}

#contact {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: 
  "contactmeside contactmelinks";
  padding-left: 40px;
}

#contactmeside {
  grid-area: contactmeside;
}

#contactmelinks {
  grid-area: contactmelinks;
}

#about, #work, #contact {
  padding: 30px 100px 30px 30px;
}

.page-section h2 {
  color: #445877;
}

#about {
  height: 200px;
  /* margin-bottom: 0; */
}

#aboutmeside, #workside, #contactmeside {
  display: flex;
  border-right: solid 4px #445877;
  padding: 0 20px 0 20px;
  justify-content: flex-end;
  align-items: center;
}

#aboutmetext {
  display: flex;
  padding-left: 40px;
  text-align: justify;
  /* text-justify: inter-word; */
  align-items: center;
}

#work {
  height: 800px;
  margin-bottom: 500px;
  /* margin-top: 0; */
}

#worklinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 25% 25%;
  grid-template-areas: 
  "portfolio1 portfolio1"
  "portfolio2 portfolio3"
  "portfolio4 portfolio5";
  padding-left: 40px;
}

#portfolio1 {
  grid-area: portfolio1;
  background-image: url("../images/02-portfolio-1.jpg");
  border: solid 4px #89C0C2;
}

#portfolio2 {
  grid-area: portfolio2;
  background-image: url("../images/02-portfolio-2.jpg");
  border: solid 4px #89C0C2;
}

#portfolio3 {
  grid-area: portfolio3;
  background-image: url("../images/02-portfolio-3.jpg");
  border: solid 4px #89C0C2;
}

#portfolio4 {
  grid-area: portfolio4;
  background-image: url("../images/02-portfolio-4.jpg");
  border: solid 4px #89C0C2;
}

#portfolio5 {
  grid-area: portfolio5;
  background-image: url("../images/02-run-buddy.jpg");
  border: solid 4px #89C0C2;
}

/* vorrei fare hover su immagini */
/* #portfolio5:hover {
  color: #89C0C2;
  background-color: rgba(63, 81, 104, 0.5);
} */

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: center;
  border: #89C0C2;
}

.portfolioGridArea:hover {
  opacity: 0.7;
}

.heading {
  display: flex;
  background-color: #89C0C2;
  color: #30333C;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: 100px;
  padding: 10px 0 10px 0;
}

.heading h3 {
  font-size: 18px;
}

.heading h4 {
  font-size: 16px;
  display: block;
}

#contact {
  height: 100px;
  /* padding-top: 40px; */
}

/* #contact {
  scroll-behavior: smooth;
} */

#contactmelinks {
  display: flex;
  padding-left: 40px;
  align-items: center;
  justify-content: space-between;
}

#contactmelinks a {
  color: #445877;
  border-bottom: solid 4px #445877;
}