* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  background-color: #30333C;
  padding: 20px;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 80px;
}

.lefttitle, .navright {
  height: 60px;
  display: flex;
  align-items: center;
  
}

.navright{
  width: 400px;
  justify-content: space-around;
}

.lefttitle {
background-color: #89C0C2;
padding: 20px;
width: 300px;
justify-content: flex-end;
}

h1 {
  color: #30333C;
}

a {
  padding: 5px;
  color: #89C0C2;
  border-bottom: solid 4px #89C0C2;
  text-decoration: none;
  margin: 5px;
  padding-bottom: 0;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
